@charset "utf-8";

body {
  height: 100vh;
  height: -webkit-fill-available;
  overflow: hidden;
}

#wrapper {
  display: grid;
  place-items: center;
	height: 100vh;
}

@supports (-webkit-touch-callout: none) {
  #wrapper {
    /* The hack for Safari */
    height: -webkit-fill-available;
  }
}

nav {
  position: relative;
}

nav li {
  position: absolute;
  background-color: yellow;
}

#hiyokoO {
  position: relative;
  background: orange;
}

nav li,
#hiyokoO {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12vh;
  height: 12vh;
  border: 1px solid;
  border-radius: 50%;
}

nav li:nth-child(1) {
  top: -15vh;
}

nav li:nth-child(2) {
  top: -4vh;
  right: -14vh;
}

nav li:nth-child(3) {
  right: -10vh;
  bottom: -13vh;
}

nav li:nth-child(4) {
  left: -10vh;
  bottom: -12vh;
}

nav li:nth-child(5) {
  top: -5vh;
  left: -14vh;
}

@media screen and (orientation: landscape) {
  nav li,
  #hiyokoO {
    width: 10vw;
    height: 10vw;
  }

  nav li:nth-child(1) {
    top: -13vw;
  }
  
  nav li:nth-child(2) {
    top: -3vw;
    right: -12vw;
  }
  
  nav li:nth-child(3) {
    right: -8vw;
    bottom: -11vw;
  }
  
  nav li:nth-child(4) {
    left: -8vw;
    bottom: -10vw;
  }
  
  nav li:nth-child(5) {
    top: -5vw;
    left: -12vw;
  }
}